.content-wrapper {
    position: absolute;
    background-color: lightblue;
    overflow: auto;
}

.top-bar-wrapper {
    width: 100%;
    height: 20px;
    background-color: black;
}

.button-position {

    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    padding-top: 300px;
}

.button {
    padding: 5px 30px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    background-color: white;
    color: black;
    border: 2px dotted #8CE0F3;
    border-radius: 5px;
    cursor: pointer;
}


.resizers {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;


    .resizer {
        width: 10px;
        height: 10px;
        border-radius: 1px;
        background: #DDE2E5;
        border: 1px solid #DDE2E5;
        position: absolute;
    }

    .right {
        top: 0;
        right: -3px;
        height: 100%;
        cursor: ew-resize;
    }

    .bottom {
        bottom: -3px;
        left: 0;
        width: 100%;
        cursor: ns-resize;
    }

    .top {
        top: -3px;
        left: 0;
        width: 100%;
        cursor: ns-resize;
    }

    .left {
        top: 0;
        left: -3px;
        height: 100%;
        cursor: ew-resize;
    }

    .bottom-right {
        right: -3px;
        bottom: -3px;
        cursor: nwse-resize;
    }

    .top-right {
        right: -3px;
        top: -3px;
        cursor: nesw-resize;
    }

    .top-left {
        left: -3px;
        top: -3px;
        cursor: nwse-resize;
    }

    .bottom-left {
        left: -3px;
        bottom: -3px;
        cursor: nesw-resize;
    }

    // .empty-box-layout{
    // .container {
    //     display: flex;
    //     width: 700px;
    //     height: 500px;
    //     border: 1px solid black;
    //   }
    // }

    // .two-column-layout{
    //     .container {
    //         display: flex;
    //         width: 700px;
    //         height: 600px;
    //         border: 1px solid black;
    //       }

    //       .column {
    //         flex: 1;
    //         border: 1px solid black; /* Just for visualization */
    //       }

    // }
    
    
    
    
    


      
}