.Typography-container {
    cursor: grab;
    border: 2px dotted #000;
    padding: 10px;
  }
  
  .Typography-container.grabbing {
    cursor: grabbing;
  }
  
  .form-control {
    width: 500px;
    border: none;  
    outline: none;  
  }
  
  
  
  
  
  
  
  

 