<form action="">
    <div class="formgroup-name">
    <label for="name">Name</label> <br><br>
    <input type="text" id="name" name="fname" placeholder="">
    </div><br><br>

    <div class="formgroup-Rating">
    <label for="rating">Rating</label> <br><br>
   
    </div><br><br>

    <div class="formgroup-Rating">
        <label for="feedback">Feedback</label> <br><br>
        <input type="textarea" id="feedback" name="feedback" placeholder="">
        </div><br><br>

    <div class="formgroup-feedback">
    <input type="submit" value="Submit">
   </div>
</form>
