//@import 'variables';
$pink: #E85B81;
$font-stack: Roboto;
$borderColor:#B5B5B5;
$btnHoverColor:#C12F5D;
$labelColor:#495057;

.HeaderContainer{
   width:1561px;
   height: 115px;
   border: 1px solid $borderColor;
   //background-color: red;
}
.viewportContainer{
    width:735px;
    height: 84px;
    border: 1px solid $borderColor;
    margin: 14px 330px 14px 405px;
    display: flex;
    flex-direction: row;
    gap:60px;
}

input[type=number]{
    height: 33px;
    width: 137px;
    border:1px solid #E1E1E1;
    border-radius: 5px;
    box-sizing: border-box;
  }

  svg{
    padding-top: 10px;
  }
  .selectedView{
    width: 54px;
    height: 2px;
    background-color: $pink;
    padding: 1px 0px 1px 0px;
  }
//   .width{
//     margin-top: 1px;
//   }
  