<!--[label]="reset"-->
<app-buttons [type]="primarybtn"><i class="fas fa-{{ icon }}"></i> Submit </app-buttons>&nbsp;
<app-buttons [type]="alternativebtn" [isDisabled]="isDisabled">{{label}}</app-buttons>&nbsp;
<app-buttons [type]="secondarybtn" >{{ label }}</app-buttons><br><br><br>

  <!-- <app-group-button [icons]="icons" [orientation]="orientation">
  </app-group-button> -->


  
<!--<h1>Hello Drongos</h1>
 <app-input-box></app-input-box><br><br><hr><br><br>
<app-button></app-button> <br><br><hr><br><br>
<app-login-form></app-login-form> <br><br><hr><br><br>
<app-signup-form></app-signup-form> <br><br><hr><br><br>
<app-feedback-form></app-feedback-form> <br><br><hr><br><br>
<app-button></app-button> <br><br><hr><br><br>
<app-textarea></app-textarea> <br><br><hr><br><br>
<app-labels></app-labels> <br><br><hr><br><br>
<app-radiobutton></app-radiobutton> <br><br><hr><br><br>
<app-checkbox></app-checkbox> <br><br><hr><br><br>
<app-viewport></app-viewport> <br><br><hr><br><br>-->

