
  <!-- <app-screen-layout></app-screen-layout> -->
<div class="container mt-4">
    <h1>Layout Generator</h1>
    <textarea class="form-control mb-3" [(ngModel)]="jsonInput" placeholder="Enter JSON data here" rows="5"></textarea>
    <button class="btn btn-primary mb-3" (click)="generateLayout()" [disabled]="isLoading">Generate Layout</button>
    
    <div *ngIf="isLoading" class="alert alert-info">
      Loading...
    </div>
  
    <div *ngIf="error" class="alert alert-danger">
      {{ error }}
    </div>
  
    <div *ngIf="!isLoading && !error && (htmlCode || cssCode || tsCode)">
      <ul class="nav nav-tabs" id="codeTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="html-tab" data-bs-toggle="tab" data-bs-target="#html-tab-pane" type="button" role="tab" aria-controls="html-tab-pane" aria-selected="true">HTML</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="css-tab" data-bs-toggle="tab" data-bs-target="#css-tab-pane" type="button" role="tab" aria-controls="css-tab-pane" aria-selected="false">CSS</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="ts-tab" data-bs-toggle="tab" data-bs-target="#ts-tab-pane" type="button" role="tab" aria-controls="ts-tab-pane" aria-selected="false">TypeScript</button>
        </li>
      </ul>
      <div class="tab-content" id="codeTabContent">
        <div class="tab-pane fade show active" id="html-tab-pane" role="tabpanel" aria-labelledby="html-tab" tabindex="0">
          <pre class="mt-3"><code>{{ htmlCode }}</code></pre>
        </div>
        <div class="tab-pane fade" id="css-tab-pane" role="tabpanel" aria-labelledby="css-tab" tabindex="0">
          <pre class="mt-3"><code>{{ cssCode }}</code></pre>
        </div>
        <div class="tab-pane fade" id="ts-tab-pane" role="tabpanel" aria-labelledby="ts-tab" tabindex="0">
          <pre class="mt-3"><code>{{ tsCode }}</code></pre>
        </div>
      </div>
    </div>
  </div> 


