<!--[label]="reset"-->
<!-- <app-buttons [type]="'primary'" [widthbtn]="w" [heightbtn]="h" [border_radius]="'none'"> Submit </app-buttons>&nbsp; -->
<!-- <app-buttons [type]="alternativebtn" [isDisabled]="isDisabled">Submit</app-buttons>&nbsp;
<app-buttons [type]="secondarybtn" >Submit</app-buttons><br><br><br> -->

  <!-- <app-group-button [icons]="icons" [orientation]="orientation">
  </app-group-button> -->


  
<!--<h1>Hello Drongos</h1>
 <app-input-box></app-input-box><br><br><hr><br><br>
<app-button></app-button> <br><br><hr><br><br>
<app-login-form></app-login-form> <br><br><hr><br><br>
<app-signup-form></app-signup-form> <br><br><hr><br><br>
<app-feedback-form></app-feedback-form> <br><br><hr><br><br>
<app-button></app-button> <br><br><hr><br><br>
<app-textarea></app-textarea> <br><br><hr><br><br>
<app-labels></app-labels> <br><br><hr><br><br>
<app-radiobutton></app-radiobutton> <br><br><hr><br><br>
<app-checkbox></app-checkbox> <br><br><hr><br><br>
<app-viewport></app-viewport> <br><br><hr><br><br>-->

<accordion [multiple]="multiple" [bg_color]="'#E85B81'">
  <div class="header" title="Layout"  [disabled]="disabled" accordion-item >
      <ng-template accordionContent>      
          <span class="icon" *ngFor="let item of layoutItems; let j=index">           
              <img src="assets/images/{{item.icon}}.svg" style="width: 50px;height: 50px;color: black;">             
          </span>      
      </ng-template>
  </div>
  
  
  <div class="header" title="Media" accordion-item>
    <ng-template accordionContent>   
        <span class="icon" *ngFor="let item of mediaItems; let j=index">
          <img src="assets/images/{{item.icon}}.svg" style="width: 50px;height: 50px;color: black;">
          <p>{{item.label}}
        </span>   
    </ng-template>
</div>

<div class="header" title="Typography" accordion-item>
  <ng-template accordionContent>   
      <span class="icon" *ngFor="let item of typographyItems; let j=index">
        <img src="assets/images/{{item.icon}}.svg" style="width: 50px;height: 50px;color: black;">
        <p class="labelText">{{item.label}}
      </span>  
  </ng-template>
</div>

<div class="header" title="Forms" accordion-item>
  <ng-template accordionContent>   
      <accordion [multiple]="multiple" [bg_color]="'white'">
        <div class="header" title="Template Forms"  accordion-item >
            <ng-template accordionContent>
              <app-buttons [type]="'secondary'" [widthbtn]="w" [heightbtn]="h" [border_radius]="'none'"><div class="btn"><img src="assets/images/formIcon.svg" >Login Form</div> </app-buttons>
              <app-buttons [type]="'secondary'" [widthbtn]="w" [heightbtn]="h" [border_radius]="'none'"><div class="btn"><img src="assets/images/formIcon.svg" >SignUp Form</div> </app-buttons>
              <app-buttons [type]="'secondary'" [widthbtn]="w" [heightbtn]="h" [border_radius]="'none'"><div class="btn"><img src="assets/images/formIcon.svg" >Feedback Form</div> </app-buttons>
            </ng-template>
        </div>
        <div class="header" title="Custom Forms"  accordion-item >
          <ng-template accordionContent>
            <app-buttons [type]="'secondary'" [widthbtn]="w" [heightbtn]="h" [border_radius]="'none'"><div class="btn1" ><img src="assets/images/plus_symbol.svg">Add Form</div> </app-buttons>
          </ng-template>
      </div>
      <div class="header" title="Form Elements"  accordion-item >
        <ng-template accordionContent>
            <span class="icon" *ngFor="let item of FormElements; let j=index">
              <img src="assets/images/{{item.icon}}.svg" style="width: 50px;height: 50px;color: black;">
              <p class="labelText">{{item.label}}
            </span>
        </ng-template>
    </div>
      </accordion>   
  </ng-template>
</div>

<div class="header" title="Custom Layout" accordion-item>
  <ng-template accordionContent>
      <app-buttons [type]="'secondary'" [widthbtn]="w" [heightbtn]="h" [border_radius]="'none'"><div class="btn1" ><img src="assets/images/plus_symbol.svg">Add Layout</div> </app-buttons>
  </ng-template>
</div>
    
</accordion>


<!-- <accordion [multiple]="multiple" [bg_color]="'#E85B81'">
  <div class="header"*ngFor="let icon of items;let i=index" title="{{icon}}"  accordion-item >
    <div >
    <ng-container [ngSwitch]="i">

      <ng-container *ngSwitchCase="0" [disabled]="disabled"  accordion-item>
        <ng-template  accordionContent>
          <div class="p-4">
            <span class="icon" *ngFor="let item of layoutItems; let j=index">            
                <img src="assets/images/{{item.icon}}.svg" style="width: 50px;height: 50px;color: black;">              
            </span>
          </div>
        </ng-template>
      </ng-container>
    
      <ng-container *ngSwitchCase="1">
        <ng-template accordionContent>
          <div class="p-4">
            <span class="icon" *ngFor="let item of mediaItems; let j=index">
              <img src="assets/images/{{item.icon}}.svg" style="width: 50px;height: 50px;color: black;">
              <p>{{item.label}}
            </span>
          </div>
        </ng-template>
      </ng-container>
    
      <ng-container *ngSwitchCase="2">
        <ng-template accordionContent>
          <div class="p-4">
            <span class="icon" *ngFor="let item of typographyItems; let j=index">
              <img src="assets/images/{{item.icon}}.svg" style="width: 50px;height: 50px;color: black;">
              <p class="labelText">{{item.label}}
            </span>
          </div>
        </ng-template>
      </ng-container>

      <ng-container *ngSwitchCase="3">
          <ng-template accordionContent>
            <div class="p-4">
             
              <accordion [multiple]="multiple" [bg_color]="'white'">
                <div class="header" title="Template Forms"  accordion-item >
                    <ng-template accordionContent>
                      <app-buttons [type]="'secondary'" [widthbtn]="w" [heightbtn]="h" [border_radius]="'none'"><div class="btn"><img src="assets/images/formIcon.svg" >Login Form</div> </app-buttons>
                      <app-buttons [type]="'secondary'" [widthbtn]="w" [heightbtn]="h" [border_radius]="'none'"><div class="btn"><img src="assets/images/formIcon.svg" >SignUp Form</div> </app-buttons>
                      <app-buttons [type]="'secondary'" [widthbtn]="w" [heightbtn]="h" [border_radius]="'none'"><div class="btn"><img src="assets/images/formIcon.svg" >Feedback Form</div> </app-buttons>
                    </ng-template>
                </div>
                <div class="header" title="Custom Forms"  accordion-item >
                  <ng-template accordionContent>
                    <app-buttons [type]="'secondary'" [widthbtn]="w" [heightbtn]="h" [border_radius]="'none'"><div class="btn1" ><img src="assets/images/PlusButton.svg">Add</div> </app-buttons>
                  </ng-template>
              </div>
              <div class="header" title="Form Elements"  accordion-item >
                <ng-template accordionContent>
                  <div class="p-4">
                    <span class="icon" *ngFor="let item of FormElements; let j=index">
                      <img src="assets/images/{{item.icon}}.svg" style="width: 50px;height: 50px;color: black;">
                      <p class="labelText">{{item.label}}
                    </span>
                  </div>
                </ng-template>
            </div>
              </accordion>
            </div>
          </ng-template>
      </ng-container>

      <ng-container *ngSwitchCase="4">
        <ng-template accordionContent>
          <div class="p-4">
            <app-buttons [type]="'secondary'" [widthbtn]="w" [heightbtn]="h" [border_radius]="'none'"><div class="btn1" ><img src="assets/images/PlusButton.svg">Add</div> </app-buttons>
          </div>
        </ng-template>
      </ng-container>

    </ng-container> 
  </div>
  </div>
</accordion> -->
