$pink: #E85B81;
$font-stack: Roboto;

h1
{
  font: 100% $font-stack;
  background-color: $pink;
}

button {
  padding: 0.2rem 1rem;
  background: var(--primary);
  border-radius: 8px;
  color: #fff;
}

.text {
  padding: 10px; 
  display: inline-block;
}

.icon {
  display: inline-block;
  width: 50%;
  box-sizing: border-box;
  padding: 10px 40px;
}

.iconClass {
  font-size: 50px;
}

.btn {
  display: flex;
  align-items: center;
  gap: 10px;
  color: black;
  font-size: 18px;
}

.btn1 {
  display: inline-flex;
  align-items: center;
  gap: 19px;
  padding: 3px;
  float: left;
  color: black;
  font-size: 18px;
}
