$colorWhite : #fff;
$colorBtn : #C12F5D;
$colorClickedState : #E85B81;
 
button {
    border: none;
    padding: 10px 20px;
    border: none;
   // border-radius: none;
    cursor: pointer;
    // width: 168px;
    // height: 48px;
    font-size: 24px;
    color: $colorWhite;
}