//@import 'variables';
$pink: #E85B81;
$font-stack: Roboto;
$borderColor:#B5B5B5;
$btnHoverColor:#C12F5D;

label{
    font-style: roboto;
    font-size: 16px;
    color: $borderColor;
}

textarea {
     width: 373px;
     height: 115px;
    background-color:transparent;
    border:1px solid $borderColor;
    display: block;
    resize: both
  }

//   textarea::-webkit-resizer {
//     background-color: $borderColor; 
// }