<div class="container">
    <div class="header">
        <app-group-button class="view" orientation="horizontal" (iconSelected)="onIconSelected($event)">
            <div *ngFor="let icon of icons" title="{{icon}}" appGroupButtonDirective></div>
        </app-group-button>
    </div>

    <div class="main-content">

        <div class="main-sidebar">

            <div class="sub-sidebar">
                <div class="header">
                    <app-group-button orientation="vertical" (iconSelected)="onIconSelected($event)">
                        <div class="icon-size" *ngFor="let icon of sideBarIcons" title="{{icon}}" appGroupButtonDirective></div>
                    </app-group-button>
                </div>
            </div>

            <div class="sub-sidebar1">
                <accordion [multiple]="multiple" [bg_color]="'#E85B81'">
                    <div class="header" title="Layout" accordion-item>
                        <ng-template accordionContent>
                            <span class="icon" *ngFor="let item of layoutItems; let j=index">
                                <img src="assets/images/{{item.icon}}.svg" style="width: 50px; height: 50px; color: black;">
                            </span>
                        </ng-template>
                    </div>

                    <div class="header" title="Media" accordion-item>
                        <ng-template accordionContent>
                            <span class="icon" *ngFor="let item of mediaItems; let j=index">
                                <img src="assets/images/{{item.icon}}.svg" style="width: 50px; height: 50px; color: black;">
                                <p>{{item.label}}</p>
                            </span>
                        </ng-template>
                    </div>

                    <div class="header" title="Typography" accordion-item>
                        <ng-template accordionContent>
                            <span class="icon" *ngFor="let item of typographyItems; let j=index">
                                <img src="assets/images/{{item.icon}}.svg" style="width: 50px; height: 50px; color: black;">
                                <p class="labelText">{{item.label}}</p>
                            </span>
                        </ng-template>
                    </div>

                    <div class="header" title="Forms" accordion-item>
                        <ng-template accordionContent>
                            <accordion [multiple]="multiple" [bg_color]="'white'">
                                <div class="header" title="Template Forms" accordion-item>
                                    <ng-template accordionContent>
                                        <app-buttons [type]="'secondary'" [widthbtn]="w" [heightbtn]="h" [border_radius]="'none'" (click)="addElement('login')">
                                            <div class="btn"><img src="assets/images/formIcon.svg">Login Form</div>
                                        </app-buttons>
                                        <app-buttons [type]="'secondary'" [widthbtn]="w" [heightbtn]="h" [border_radius]="'none'" (click)="addElement('signup')">
                                            <div class="btn"><img src="assets/images/formIcon.svg">SignUp Form</div>
                                        </app-buttons>
                                        <app-buttons [type]="'secondary'" [widthbtn]="w" [heightbtn]="h" [border_radius]="'none'" (click)="addElement('feedback')">
                                            <div class="btn"><img src="assets/images/formIcon.svg">Feedback Form</div>
                                        </app-buttons>
                                    </ng-template>
                                </div>
                                <div class="header" title="Custom Forms" accordion-item>
                                    <ng-template accordionContent>
                                        <app-buttons [type]="'secondary'" [widthbtn]="w" [heightbtn]="h" [border_radius]="'none'">
                                            <div class="btn1"><img src="assets/images/plus_symbol.svg">Add Form</div>
                                        </app-buttons>
                                    </ng-template>
                                </div>
                                <div class="header" title="Form Elements" accordion-item>
                                    <ng-template accordionContent>
                                        <span class="icon" *ngFor="let item of FormElements; let j=index">
                                            <img src="assets/images/{{item.icon}}.svg" style="width: 50px; height: 50px; color: black;">
                                            <p class="labelText">{{item.label}}</p>
                                        </span>
                                    </ng-template>
                                </div>
                            </accordion>
                        </ng-template>
                    </div>

                    <div class="header" title="Custom Layout" accordion-item>
                        <ng-template accordionContent>
                            <app-buttons [type]="'secondary'" [widthbtn]="w" [heightbtn]="h" [border_radius]="'none'">
                                <div class="btn1"><img src="assets/images/plus_symbol.svg">Add Layout</div>
                            </app-buttons>
                        </ng-template>
                    </div>
                </accordion>
            </div>
        </div>
        <div class="content">
            <app-frame-component #formContainer [selectedIcon]="selectedIcon" [groupButton]="groupButton"></app-frame-component>
        </div>
        <div class="sidebar-right">Sidebar Right</div>
    </div>
    <div class="footer">Footer</div>
</div>
