//@import 'variables';
$pink: #E85B81;
$font-stack: Roboto;
$borderColor:#B5B5B5;
$btnHoverColor:#C12F5D;

label{
    font-style: roboto;
    font-size: 16px;
    color: $borderColor;
    padding: 0 0 13px 2px;
}